.firstTitleBar {
    width: auto;
    height: 268px;
    background-color: var(--white);
    border-radius: 14px;
    /* box-shadow: 3px 3px 20px 0px rgb(0 0 0 / 20%); */
    border: 1px solid rgb(235, 235, 235);
}

.firstTitleBar p{
    font-weight: 300;
}

/* .firstTitleBar h1{
    position: relative;

    color: black;
    font-size: 28px;
    width: auto;
    text-align: center;
    top: 64px;
    background-color: rgba(0, 0, 0, 0.315);
}

.firstTitleBar p{
    position: relative;
    top: 110px;
    text-align: center;
    font-size: var(--fontSize);
    color: var(--darkGray);
    background-color: rgba(0, 0, 0, 0.315);

} */

.innerElements {
    position: relative;
    margin-top: 64px;
    /* background-color: rgba(0, 0, 0, 0.274); */
    /* height: 206px; */
}

.innerElements h1 {
    color: black;
    font-size: 28px;
    width: auto;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.315); */
    /* text-justify: 10px; */
    /* word-spacing: 10px; */
    letter-spacing: 3px;
}

.innerElements p {
    text-align: center;
    font-size: var(--fontSize);
    color: var(--darkGray);
    padding-top: 26px;
}

.backThisProject {
    width: 204px;
    height: 56px;
    margin-top: 42px;
    margin-left: 48px;
    border-radius: 28px;
    background-color: var(--moderateCyan);
    cursor: pointer;
    transition: 0.5s;

}

.backThisProject:hover {
    transition: 0.1s;
    transform: scale(1.01);
    background-color: var(--darkCyan);
}

.backThisProject p {
    color: var(--white);
    padding-top: 16px;
    font-weight: 500;
}

.firstTitleBarFlexContainer {
    display: flex;
}

.bookmarked {
    display: flex;
    width: 190px;
    height: 56px;
    margin-top: 42px;
    margin-left: 240px;
    border-radius: 28px;
    background-color: var(--darkGray);
    background-color: hsla(0, 0%, 48%, 0.082);
    cursor: pointer;
    transition: 0.5s;
}

.bookmarked:hover {
    transition: 0.1s;
    background-color: hsla(0, 0%, 48%, 0.199);
    transform: scale(1.01);
}

.bookmarked p {
    color: var(--moderateCyan);
    padding-left: 12px;
    padding-top: 16px;
    font-weight: 500;
}

.bmlogo {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: var(--moderateCyan);
    background-image: url(/app/images/icon-bookmark.svg);
    background-repeat: no-repeat;

    /* background-color: #23278a;
        mix-blend-mode:hard-light; */
}

.bmlogo img {
    /* margin: 0px; */
    margin-top: 42px;
    margin-left: 240px;
}