.header{
    background-image: url(/app/images/image-hero-desktop.jpg);
    background-size: contain;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 27.7778vw;
}

.navGrid{
    display: grid;
    position: relative;
    color: var(--white);
    top: 3.33vw;
    grid-template-columns: auto auto auto auto;
    /* gap: 10px; */
    /* margin-left: 11.5278vw; */
    border: 2px solid black;
}

.navGrid:first-child{
    
}

.navGrid:nth-child(2){
    /* margin-left: 100px; */
}

.item1{
    margin-left: 11.5278vw;
    font-size: 18px;
    font-weight: var(--weightLar);
    vertical-align: middle;
    /* width: fit-content; */
}

.item2{
    font-size: 14px;
    vertical-align: middle;
    /* width: fit-content; */
}

.item3 {
    font-size: 14px;
    vertical-align: middle;
    /* width: fit-content; */
}

.item4 {
    font-size: 14px;
    vertical-align: middle;
    /* width: fit-content; */
}

.navGrid div{
    border: 1px solid rgb(82, 82, 82);
}