.header{
    background-image: url(/app/images/image-hero-desktop.jpg);
    background-size: contain;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 27.7778vw;
}

.navFlex{
    display: flex;
    position: relative;
    top: 48px;
    height: 48px;
    width: auto;
    /* margin-top: 48px; */
    /* border: 1px solid rgb(0, 0, 0); */

    color: var(--white);
    font-size: 16px;
}

.item1{
    flex: 1;
    max-width: 128px;
    font-size: 18px;
    margin-left: 11.52778vw; 
    font-weight: var(--weightLar);
    cursor: pointer;
    /* //166px; */
    /* border: 1px solid red; */
}

.item2{
    flex: 1;
    max-width: 40px;
    margin-left: 52.5vw;
    /* 756px; */
    /* border: 1px solid red; */
    cursor: pointer;
    font-size: 16px;
}

.item3 {
    flex: 1;
    max-width: 54px;
    font-size: 16px;
    margin-left: 2.2222vw;
    cursor: pointer;
    /* 32px; */
    /* border: 1px solid red; */
}

.item4 {
    flex: 1;
    max-width: 86px;
    margin-left: 2.3611vw; 
    font-size: 16px;
    cursor: pointer;
    /* 34px; */
    /* border: 1px solid red;  */
}

.navGrid div{
    /* border: 1px solid rgb(82, 82, 82); */
}