.mainBody {
    position: absolute;
    z-index: -1;
    top: 21.3889vw;
    width: 730px;
    height: auto;
    /* background-color: rgba(3, 3, 3, 0.548); */
    margin-left: 50%;
    transform: translateX(-50%);
}

.mainBody img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    margin-left: 50%;
    transition: 0.5s;
}

.mainBody img:hover {
    transition: 0.3s;
    transform: translateX(-50%) translateY(-50%) translateY(-2px);
}
